image {
  height: 15em;
}

.plus {
  font-size: 15em;
}

.email, .password {
  font-size: 2em;
}

input {
  font-size: 1.3em;
  padding-left: 20px;
  font-family: 'Droid Sans', sans-serif;
  background-color: rgba(94, 94, 94, 0.3);
  color: #fff;
  transition: 0.2s ease-out;
}